* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#main img {
  height: 600px;
  width: 450px;
  position: absolute;
  z-index: 99;
  object-fit: cover;
  animation-name: imgmove;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
  border-radius: 15%;
}

#scroll-div {
  position: absolute;
  top: 24%;
  width: 100%;
  /* height: 100px; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#scroll-div h1 {
  display: inline-block;
  font-size: 150px;
  font-family: "Monument", sans-serif;
  text-transform: uppercase;
  margin-right: 10px;
  letter-spacing: 3px;
  animation-name: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#scroll-div::-webkit-scrollbar {
  display: none;
}

#scroll-div2 {
  position: absolute;
  top: 45%;
  width: 100%;
  /* height: 100px; */
  white-space: nowrap;
  overflow-x: auto;
  z-index: 100;
  overflow-y: hidden;
}

#scroll-div2 h1 {
  display: inline-block;
  font-size: 150px;
  font-family: "Monument", sans-serif;
  text-transform: uppercase;
  margin-right: 10px;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 2px;
  color: transparent;
  -webkit-text-stroke-color: #000;
  animation-name: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#scroll-div2::-webkit-scrollbar {
  display: none;
}

#scroll-div3 {
  position: absolute;
  top: 64%;
  width: 100%;
  /* height: 100px; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#scroll-div3 h1 {
  display: inline-block;
  font-size: 150px;
  font-family: "Monument", sans-serif;
  text-transform: uppercase;
  margin-right: 10px;
  letter-spacing: 3px;
  animation-name: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

#scroll-div3::-webkit-scrollbar {
  display: none;
}

#text {
  font-size: 30px;
  position: absolute;
  font-family: "Monument", sans-serif;
  width: 60%;
  text-align: center;
  z-index: 999;
  top: 2%;
  text-transform: uppercase;
  font-weight: 900;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 30px));
  }
}

@keyframes imgmove {
  0% {
    transform: translateX(50%);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: scale(0.5);
  }
}
